<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>スケジュール管理</title>
   <meta charset="UTF-8" />
</head>
<body>
    <h1>ログイン画面</h1>

    <p id="login-title">ユーザ名とパスワードを入力してください</p>

    <form th:action="@{/authenticate}" method="post">
        <p class="login_name">ユーザー名</p>
        <input type="text" name="userName" id="user">

        <p class="login_pass">パスワード</p>
        <input type="password" name="password" id="password">


        <p><input type="submit" value="ログイン" class="btn"></p>



    </form>

    <p><a th:href="@{/RegistrationForm}">新規登録</a>




</body>
</html>