<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common-header :: common-header('schedule.edit')">
<script type="text/javascript">
window.onload = function(){
    document.onkeypress = enter;

    function enter(){
        if(window.event.keyCode == 13){
            return false;
        }
    }
}
</script>
</head>
<body>
    <th:block th:replace="layout/common-header :: body-header('schedule.edit')"></th:block>
    <h1 th:text="#{schedule.edit}"></h1>


    <p th:text="#{instruction.edit}"></p>

    <form th:action="@{/schedule/confirm}" th:object="${scheduleSessionForm}"
        method="post">
        <p class="schedule_title" th:text="#{title}"></p>
        <input type="text" name="title" th:field="*{scheduleForm.title}">

        <p class="schedule_content" th:text="#{detail}"></p>
        <input type="text" name="content" th:field="*{scheduleForm.content}">

        <p class="schedule_start" th:text="#{startdate}"></p>
        <input type="date" name="startDate" th:field="*{scheduleForm.startDate}">

        <p class="schedule_start" th:text="#{starttime}"></p>
        <input type="time" name="startTime" th:field="*{scheduleForm.startTime}">

        <p class="schedule_end" th:text="#{enddate}"></p>
        <input type="date" name="endDate" th:field="*{scheduleForm.endDate}">

        <p class="schedule_start" th:text="#{endtime}"></p>
        <input type="time" name="endTime" th:field="*{scheduleForm.endTime}">

        <p class="schedule_type" th:text="#{schedule.type}"></p>
        <select id="typeId" name="scheduleSessionForm.scheduleForm.scheduleTypeForm.id" th:field="*{scheduleForm.scheduleTypeForm.id}">
        <!-- 何も選択していないときに表示したいものを記述 -->
        <option value="0">どんな予定？</option>
        <!-- Modelで受け取ったForm内のリストを回す -->
        <option th:each="type:${scheduleSessionForm.scheduleTypeFormList}" th:value="${type.id}" th:text="${type.name}" th:selected="${type.id == id}" ></option>
        </select>

        <p><input type="submit" value="次へ" class="btn"></p>

    </form>
</body>
</html>