<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
    th:replace="layout/common-header :: common-header('schedule.detail')">
</head>
<body>

    <th:block
        th:replace="layout/common-header :: body-header('schedule.detail')"></th:block>

    <table>
        <thead>
            <tr>
                <th th:text="#{title}"></th>
                <th th:text="#{content}"></th>
                <th th:text="#{starttime}"></th>
                <th th:text="#{endtime}"></th>
                <th th:text="#{type}"></th>
                <th th:text="#{operate}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${scheduleSessionForm.scheduleForm}">
                <td th:text="*{title}"></td>
                <td th:text="*{content}"></td>
                <td th:text="*{startTime}"></td>
                <td th:text="*{endTime}"></td>
                <td th:text="*{scheduleTypeForm.name}"></td>
                <td>
                    <a th:href="@{'/schedule/edit/' + *{Id}}">
                        <p th:text="#{edit}" />
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>