<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール管理</title>
<meta charset="UTF-8" />
</head>
<body>
    <h1>スケジュール管理トップ</h1>

    <p>
        <a href="/schedule/create">予定を追加する</a>
    </p>
    <p>
        <a href="/schedule/update">予定を編集する</a>
    </p>
    <p>
        <a href="/schedule/delete">予定を削除する</a>
    </p>

    <table id="schedule-list">
        <thead>
            <tr>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
                <th>日</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="days : ${#numbers.sequence(1,scheduleIndexForm.calendar.get('days'))}">

        </th:block>

        </tbody>

    </table>
</body>
</html>